
header {
	background-color: #ffffff;
	@extend %flex-box;
	justify-content: space-between;
}
.header-title {
	color: #798c87;
	font-size: $large-font;
	margin-left: 1em;

}
.header-nav {
	display: inline-block;

	
	
	ul {
		margin-top: 2.7em;
		margin-right: 1em;

	display:block; 
	background:url("images/topMenuImages.png") repeat-x;
	}
		li {
			display: inline-block;
			width: auto;
			a {
				color: #798c87;
				font-size: $medium-font;
				text-decoration: none;
				margin-left: 1em;
 
 			cursor:pointer;
  		background:url("images/topMenuImages.png") 0px -30px no-repeat; outline:none;
			}
			span {
				line-height:30px; float:left; display:block; padding-right:15px;
 background:url("images/topMenuImages.png") 100% -30px no-repeat;

			}
			
		}
}

// .menu{margin:0 auto; padding:0; height:30px; width:100%; 
// 	display:block; background:url("../images/topMenuImages.png") repeat-x;}
// .menu li{padding:0; margin:0; list-style:none; display:inline;}
// .menu li a{float:left; padding-left:15px; display:block; color:rgb(121,140,167);
//  text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer;
//   background:url("../images/topMenuImages.png") 0px -30px no-repeat; outline:none;}
// .menu li a span{line-height:30px; float:left; display:block; padding-right:15px;
//  background:url("../images/topMenuImages.png") 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:rgb(121,140,167);}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; 
	font:12px Verdana, Arial, Helvetica, sans-serif; 
	background:url("../images/topMenuImages.png") 0px -90px no-repeat; 
	color:rgb(121,140,167);}
.menu li a.active span, .menu li a.active:hover span{
	background:url("../images/topMenuImages.png") 100% -90px no-repeat;}
