//colors

//dark gray
$primary-font-color: #3b444f;
//white
$secondary-font-color: #fff;

//background colors 
//turqouise
$primary-bk-color: #47a899;
//light green
$secondary-bk-color: #c7e6aa;

//accent colors
//bright yellow
$button-color: #feef6d;

//font size
$large-font: 3em;
$medium-font: 2em;
